# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Datos locales (NO subir a GitHub)
data/cartera.db
data/resultados/
data/cedear_equivalencias.json

# Archivos de PyCharm
.idea/
*.iml

# Windows
Thumbs.db
desktop.ini

# Streamlit cache local
.streamlit/secrets.toml

scripts/data/cartera.db
scripts/data/cedear_equivalencias.json
scripts/data/resultados/
.streamlit/secrets.toml